/* file: styles.css */
body{
   background-color: #FEEDFB;
  }

  #navbar{
    padding-top: 10px;
    display:flex;
    background-color:#F0C5E8 ;
    list-style:none;
    position:fixed;
    width:100%;
    top:0;
    left:0;
    height: 100px;
  }
  li{
    display:flex;
    
  }
  li a{
    margin-left:80px;
    color:black;
    font-size:20px;
    text-decoration:none;
  }
  h1{
    /* background-color:white; */
    color:#f94075;
    font-size:50px;
    padding:80px;
    text-align:center;
  }
  p{
    /* background-color:white; */
    color: #f94075;;
    text-align:center;
    padding:20px;
  }
  #contact{
   background-color: #F0C5E8; 
   padding:20 20 20 20;
    margin-bottom:20;
  }
  #contact a{
    text-decoration:none;
    color:black;
  }
  #projects{
    background-color:#F0C5E8;
    padding:20 20 20 20;
    margin-bottom:20;
  }
  .project-tile a{
    text-decoration:none;
    color:black;
  }
 